DB_HOST = "localhost:3036"
DB_NAME = "name"
DB_USER = "user"
DB_PASS = "password"
DIR_FOLDER = "php-template"
SITE_PROTOCOL = "http"
SITE_URL = "localhost:120/php-template/public"
SITE_NAME = "PHP Template"
PROJECT_MODE = "development"
TIMEZONE = "Europe/Berlin"